[Desktop Entry]
Categories=Utility;
Type=Application
Icon={{.IconName}}
Exec={{.InstallPath}}/{{.BinaryName}}
Name={{.AppName}}
Terminal=false
StartupNotify=true
Comment={{.Description}}
Keywords=password;manager;security;vault;usm; 